<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NYC Restaurants</title>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/nprogress.css" />

        <script src="/js/frameworks/modernizr.custom.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <h1 class="lead">Top 10 Thai Food Places in NYC</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Grade</th>
                            <th>Restaurant</th>
                            <th>Address</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody id="top10body"></tbody>
                </table>
            </div>
        </div>

        <script src="/js/frameworks/jquery-2.1.4.min.js"></script>
        <script src="/js/frameworks/bootstrap.min.js"></script>
        <script src="/js/libs/noty.min.js"></script>
        <script src="/js/libs/nprogress.js"></script>
        
        <!-- logic files -->
        <script src="/js/logic/index.js"></script>
        <script type="text/javascript"></script>
    </body>
</html>
